@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* reset */
html {
  font-size: 12px;
  line-height: 1.2;
  background: none repeat scroll 0 0 #fff;
  position: relative;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6,
html,
body,
div,
p,
dl,
dt,
dd,
ul,
ol,
li,
form,
fieldset,
blockquote,
address,
table,
thead,
tbody,
tfoot,
tr,
td,
caption {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
* {
  margin-bottom: -1px;
}
* {
  box-sizing: border-box;
}