@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url(https://db.onlinewebfonts.com/c/d66fa62dabed66f2226a1b2d17da0579?family=Showcard+Gothic);
/* reset */
html {
  font-size: 12px;
  line-height: 1.2;
  background: none repeat scroll 0 0 #fff;
  position: relative;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6,
html,
body,
div,
p,
dl,
dt,
dd,
ul,
ol,
li,
form,
fieldset,
blockquote,
address,
table,
thead,
tbody,
tfoot,
tr,
td,
caption {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
* {
  margin-bottom: -1px;
}
* {
  box-sizing: border-box;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.Showcard-Gothic {
  font-family:"Showcard Gothic";
}


/* 메인 설명 에니메이션 효과 */
@keyframes slideOut {
	0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  49% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  51% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(30px);
    opacity: 0;
  }
}

.animate-slideOut {
  animation: slideOut 5s ease;
  animation-iteration-count:infinite;
}

/* 메인 슬로건 에니메이션 효과 */
@keyframes slogan {
	
  100% {
    transform: translateX(-2126px);
    opacity: 1;
  }
}

.animate-slogan {
  animation: slogan 30s linear;
  animation-iteration-count:infinite;
}

/* 커버사진 16/9 비율 */
.aspectRatioImage_16_9 {
  aspect-ratio: 16 / 9;
  width: 100%; 
}

/* 커버사진 4/3 비율 */
.aspectRatioImage_4_3 {
  aspect-ratio: 4 / 3;
  width: 100%; 
}

/* 커버사진 4/3 비율 */
.aspectRatioImage_1_1 {
  aspect-ratio: 1 / 1;
  width: 100%; 
}