spring:
  datasource:
    url: jdbc:mysql://${DB_RDS_URL}:3306/${DB_RDS_DB}
    username: ${DB_RDS_USER}
    password: ${DB_RDS_PW}
  jpa:
    hibernate:
    #  dialect: org.hibernate.dialect.MySQL8Dialect
    #   ddl-auto: create  #  이거 있으면 mysql 해당 스키마에 테이블들 생성된다.
    show-sql: true      # (2) SQL 쿼리 출력
    properties:
      hibernate:
        format_sql: true  # (3) SQL pretty print
        highlight_sql: true
        color-codes: true
        use_sql_comments: true
  #    defer-datasource-initialization: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: bbibbi503@gmail.com
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
    auth-code-expiration-millis: 600000  # 10분
    email-complete-expiration-millis: 3600000  # 1시간
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
logging:
  level:
    org:
      springframework:
        orm:
          jpa: DEBUG
      hibernate:
        type: trace
cloud:
  aws:
    credentials:
      accessKey: ${AWS_ACCESS_KEY}
      secretKey: ${AWS_SECRET_KEY}
    s3:
      bucket: ${AWS_S3_BUCKET}
    region:
      static: ap-northeast-2
    stack:
      auto: false

#jwt:
#  access-token-expire-time: 7200000
#  refresh-token-expire-time: 604800000
---
spring:
  profiles:
    group:
      "local" : "local, jwt, oauth"
    active : local
